bin
obj
*.dll
*.mdb
*.exe
Xamarin.Forms.Example/gtk-gui/generated.cs
*.log
*.userprefs
*.suo
UpgradeLog*
*UpgradeReport*
*.user
*.DS_Store
*.ide
!*ControlResources*.designer.cs
!Resources.Designer.cs
!NuGet.exe
*test-results*
*/PerfLogs/*
*.sap
packages
!.xamarin-component/**
*.xam
Components/
!GooglePlayServices/**
