@inherits PortableRazor.ViewBase
@model List<Politician>

<html>
<head>
	<link rel="stylesheet" href="jquery.mobile-1.4.0.min.css" />
	<script src="jquery-1.10.2.min.js"></script>
	<script src="jquery.mobile-1.4.0.min.js"></script>
	<script src="jquery.lazyloadxt.js"></script>
</head>
<body>
	<div data-role="header" style="overflow:hidden;" data-position="fixed">
    	<h1>Congress</h1>
    </div>

	<ul data-role="listview" data-inset="true" data-filter-placeholder="Search Congress..." data-filter="true">
		@foreach(var p in Model) {
			<li>
				<a href="@Url.Action("ShowPoliticianView", new {id = p.Id })">
					<img src="loader.gif" data-src="@Url.Content(p.ImageName)"/>
    				<h2>@Html.Label(String.Format("{0} {1}", p.FirstName, p.LastName))</h2>
    				<p>@Html.Label(String.Format("{0} {1}", p.Party, p.State))</p>
				</a>
			</li>
		}
	</ul>
</body>
</html>